@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title: #363F5F;
  --income: #12A454;
  --outcome: #E52E4D;
  --header: #5429CC;
  --list-header: #969CB2;
  --income-value: #33CC95;
  --outcome-value: #E52E4D;
  --button: #6933FF;
  --modal: #F0F2F5;
  --input: #E7E9EE;
}

body {
  background-color: #F0F2F5
}

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/

/*}*/
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/

/*}*/

/*!*@layer utilities {*!*/
/*!*  .text-balance {*!*/
/*!*    text-wrap: balance;*!*/
/*!*  }*!*/
/*}*/
